@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
<a class="nav-link dropdown-toggle text-white" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">AdminPanel</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Coupons" asp-action="All">Coupons</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Orders" asp-action="All">Orders</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Inquiries" asp-action="All">Inquiries</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="PartnerLogos" asp-action="All">Partner Logos</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="CompanyLogos" asp-action="Create">Company Logo</a>
                </div>}