@model Auto3D.Web.ViewModels.CarBrands.CarBrandDeleteViewModel


@{ this.ViewData["Title"] = "Delete Brand"; }
<div class="row justify-content-center">
    <form asp-area="Administration" asp-controller="CarBrands" asp-action="Delete" method="post" class="text-center col-md-4">
        <h4>@this.ViewData["Title"]</h4>
        <hr />
        <fieldset disabled="">
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control col-md-12" value="@Model.Brand" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Logo"></label>*@
                <img style="width: 120px;" class="card-img-top" src="@Model.Logo" alt="CarBrand logo" />
            </div>
        </fieldset>
            <button type="submit" class="btn btn-danger text-center mt-2">Delete Car Brand</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
