@model IEnumerable<Auto3D.Web.ViewModels.PartnerLogos.PartnerLogoViewModel>
@{ this.ViewData["Title"] = "Partner Logos"; }
<div class="album p-3 p-md-5 m-md-3 text-center" style="background: #EEF2FF ">
    <div class="my-3 py-3">
        <h2>@this.ViewData["Title"] </h2>
    </div>

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
            @foreach (var item in Model)
            {
<div class="col-lg-3 col-sm-12 col-12 d-flex flex-column my-2">
    <div class="card">

        <img style="height: 170px; width: 100%" class="card-img-top" src="@item.Path" alt="Card image cap">

        <div class="card-body p-0">


            <a type="button" class="btn btn-sm btn-outline-secondary w-100" asp-area="Administration" asp-controller="PartnerLogos" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
</div>}
        </div>
    </div>
</div>