@model Auto3D.Web.ViewModels._AdministratorInputModels.PartnerLogos.PartnerLogoInputModel
@{ ViewData["Title"] = "Add partner logo.";}

<section class="p-3 p-md-5 m-md-3" style="background: #EEF2FF;">
    <div class="container">
        <h3 class="text-center w-responsive mx-auto mb-5">
            @this.ViewData["Title"]
        </h3>

        <div class="row">

            <div class="col-md-6 mb-md-0 mb-0  ">

                <form id="contact-form" name="contact-form" enctype="multipart/form-data" asp-controller="PartnerLogos" asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0 form-group">
                                <label asp-for="Picture"></label>
                                <input asp-for="Picture" class="form-control-file" />
                                <span asp-validation-for="Picture" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="text-center text-md-left">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section> 