<div id="mySidenav" class="sidenav">
    <div class="side">
        <div class="my-2">
            <i class="fas fa-bars text-primary"></i>
            <a href="#zero" class="text-dark my-2" id="first">
                Начало
            </a>
        </div>
        <div class="my-2">
            <a href="#one" class="text-dark" id="second">
                Марки
            </a>
        </div>
        <div class="my-2">
            <a href="#two" class="text-dark" id="third">
                Актуални
            </a>
        </div>
        <div class="my-2">
            <a href="#three" class="text-dark " id="fifth">
                Партньори
            </a>
        </div>
        <div class="my-2">
            <a href="#four" class="text-dark " id="fourth">
                Контакти
            </a>
        </div>
    </div>
</div>