@model Auto3D.Web.ViewModels.Inquiries.InquiryDeleteViewModel

@{ this.ViewData["Title"] = "Delete Inquiry"; }
<div class="row justify-content-center">
    <form asp-area="Administration" asp-controller="Inquiries" asp-action="Delete" method="post" class="text-center col-md-4">
        <h4>@this.ViewData["Title"]</h4>
        <hr />

    <fieldset disabled="">
        <div class="form-group">
            <label asp-for="RecipientName"></label>
            <input asp-for="RecipientName" class="form-control col-md-12" value="@Model.RecipientName" />
            <span asp-validation-for="RecipientName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject"></label>
            <input asp-for="Subject" class="form-control col-md-12" value="@Model.Subject" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
 
        <div class="form-group">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" rows="4" readonly class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

    </fieldset>
        <button type="submit" class="btn btn-danger text-center mt-2">Delete Inquiry</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
